Repository esmero/strawberryfield, pull requests merged in 2021-02, with the labels that each got.

#142 ISSUE-141:Added a generic method in the utility service that allows for counting search results and can be reused in the rest of the codebase.
  src/Plugin/search_api/datasource/StrawberryfieldFlavorDatasource.php
  src/Plugin/search_api/datasource/StrawberryfieldFlavorDatasourceInterface.php
  src/StrawberryfieldUtilityService.php
  src/StrawberryfieldUtilityServiceInterface.php
  strawberryfield.services.yml
Labels: Symfony Services, Typed Data and Search, enhancement

#147 ISSUE-143: Allow additional Drupal Entities to be extracted by StrawberryEntitiesViaJmesPathFromJson key name provider
  config/schema/strawberryfield.schema.yml
  src/Plugin/DataType/StrawberryEntitiesViaJmesPathFromJson.php
  src/Plugin/Field/FieldType/StrawberryFieldItem.php
  src/Plugin/StrawberryfieldKeyNameProvider/EntityJmesPathNameProvider.php
  strawberryfield.install
Labels: Property Keys Providers, Schema YAML files and Configs, Typed Data and Search, enhancement

#152 ISSUE-151: Another different and better way of clearing/managing of `as:structures`
  src/EventSubscriber/StrawberryfieldEventPresaveSubscriberAsFileStructureGenerator.php
  src/StrawberryfieldFilePersisterService.php
Labels: Digital Preservation, Events and Subscriber, bug, enhancement

#149 ISSUE-148: Adds arrayToJMESPathfilterExpression helper method
  src/Tools/StrawberryfieldJsonHelper.php
Labels: JMESPath, JSON Postprocessors, Typed Data and Search, enhancement

#154 ISSUE-153: Deal with multi dot extensions (warc.gz, tar.gz)
  src/StrawberryfieldFilePersisterService.php
  src/StrawberryfieldMimeService.php
Labels: Digital Preservation, Symfony Services, enhancement
